# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.egg-info
.eggs
dist
build
venv
.venv
.pytest_cache
.ruff_cache
.coverage
htmlcov

# IDE
.idea
.vscode
*.swp
*.swo

# Project specific
docs/
tests/
*.md
Makefile
.env
*.db
